<%- include('partials/header') %>
<div class="conteiner">
  <div class="header">
    <header>
      <h1 class="title">Encuesta a la audiencia</h1>
      <p class="text-center">
        Muchas gracias por darnos un poco de su tiempo para ayudanos a mejorar
        nuestra programación musical.
      </p>
    </header>
  </div>
  <form class="formulario" action="/guardar_respuestas" method="post">
    <div class="campo1">
      <label for="" class="label-alig"
        >Selecciona el rango de edad en que te encuentras:
        <select
          name="edad"
          class="form-select"
          aria-label="Default select example"
        >
          <option value="1">Menor de 15 años</option>
          <option value="2">Entre 16 y 21 años</option>
          <option value="3">Entre 22 y 27 años</option>
          <option value="4">Entre 28 años y 33 años</option>
        </select>
      </label>
    </div>

    <div class="campo2">
      <label>¿De que localidad sos?</label>
      <select
        name="localidad"
        class="form-select"
        aria-label="Default select example"
      >
        <option value="1">Clorinda</option>
        <option value="2">El Colorado</option>
        <option value="3">El Espinillo</option>
        <option value="4">Formosa</option>
        <option value="5">General Manuel Belgrano</option>
        <option value="6">Ibarreta</option>
        <option value="7">Ingeniero Juárez</option>
        <option value="8">Laguna Blanca</option>
        <option value="9">Laguna Naick Neck</option>
        <option value="10">Mayor Villafañe</option>
        <option value="11">Pirané</option>
        <option value="12">Riacho He Hé</option>
      </select>
    </div>

    <div class="campo3">
      <label>Género</label>
      <select
        name="nivelEstudio"
        class="form-select"
        aria-label="Default select example"
      >
        <option value="1">Masculino</option>
        <option value="2">Femenino</option>
        <option value="3">No quiero decirlo</option>
      </select>
    </div>

    <div class="campo4">
      <label>¿En qué nivel de estudio te encontras?</label>
      <select
        name="genero"
        class="form-select"
        aria-label="Default select example"
      >
        <option value="1">Primario</option>
        <option value="2">Secundario</option>
        <option value="3">Terciario</option>
      </select>
    </div>

    <div class="campo5">
      <label>¿En qué momento del día escuchas nuestra radio?</label>
      <select
        name="momentoDia"
        class="form-select"
        aria-label="Default select example"
      >
        <option value="1">Mañana</option>
        <option value="2">Tarde</option>
        <option value="3">Noche</option>
      </select>
    </div>

    <div class="camp6">
      <label>¿Tenés algún género musical que prefieras más?</label>
      <select
        name="generoMusicalPref"
        class="form-select"
        aria-label="Default select example"
      >
        <option value="1">Pop</option>
        <option value="2">Trap</option>
        <option value="3">K-pop</option>
        <option value="4">Cumbia</option>
        <option value="5">Folklore</option>
        <option value="6">Rock Nacional</option>
        <option value="7">Regeton</option>
      </select>
    </div>

    <div class="campo7">
      <label>Según las músicas que más escuchas. ¿En qué idioma estan?</label>
      <select
        name="idiomaMusica"
        class="form-select"
        aria-label="Default select example"
      >
        <option value="1">Pop</option>
        <option value="2">Trap</option>
        <option value="3">K-pop</option>
        <option value="4">Cumbia</option>
      </select>
    </div>

    <div class="campo8">
      <label
        >¿Te gustaría que incluyeramos música local o de artistas
        emergentes?</label
      >
      <select
        name="incluirMusicaLocal"
        class="form-select"
        aria-label="Default select example"
      >
        <option value="1">Si</option>
        <option value="2">No</option>
      </select>
    </div>

    <div class="campo9">
      <label>¿Cuál es tu artista favorito?</label>
      <input
        name="artistaFavorito"
        type="text"
        class="form-control"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2"
      />
    </div>

    <div class="campo11">
      <label>¿Cuál es tu banda/grupo favorito?</label>
      <input
        name="bandaFavoritaS"
        type="text"
        class="form-control"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2"
      />
    </div>

    <button class="btn btn-primary" type="submit">Enviar encuesta</button>
  </form>
  <%- include('partials/footer') %>
</div>
